<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1 class="text-center">Write a new article</h1>
      <%= form_for(@article) do |a| %>
        <div class="form-group">
          <%= a.label:title %>
          <%= a.text_field:title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= a.label:content %>
          <%= a.text_field:content, class: "form-control" %>
        </div>
        <%= a.submit class: 'btn btn-primary' %>
      <% end %>

    </div>
  </div>
</div>
